input {
    width: 30px;
    text-align: center;
}

input::-webkit-inner-spin-button {
    display: none;
}

#container {
    margin: auto;
    text-align: center;
}

.chart-size-m {
    width: 400px;
    height: 200px;
}
body {
    margin: 0;
}

h1,
h2 {
    margin: auto;
    padding: 5px auto;
}
/*Grid*/
#container {
    display: grid;
    grid-template-columns: 20px 1fr 1fr 1fr 20px;
    grid-template-rows: 50px 40px auto 50px auto auto 20px;
    grid-template-areas:
        "header header header header header"
        ". monoTitle monoTitle monoDataTitle ."
        ". monoData1 monoData2 monoChart ."
        ". dualTitle dualTitle dualDataTitle ."
        ". dualData1 dualData2 dualChart1 ."
        ". dualData3 . dualChart2 ."
        ". . . . .";
}

.header {
    grid-area: header;
    background-color: red;
}

.monoTitle {
    grid-area: monoTitle;
    background-color: green;
}

.monoDataTitle {
    grid-area: monoDataTitle;
    background-color: blueviolet;
}

.monoData1 {
    grid-area: monoData1;
    background-color: blue;
}

.monoData2 {
    grid-area: monoData2;
    background-color: orange;
}

.monoChart {
    grid-area: monoChart;
    background-color: yellow;
}

.dualTitle {
    grid-area: dualTitle;
    background-color: firebrick;
}

.dualDataTitle {
    grid-area: dualDataTitle;
    background-color: lightsalmon;
}

.dualData1 {
    grid-area: dualData1;
    background-color: deepskyblue;
}

.dualData2 {
    grid-area: dualData2;
    background-color: rebeccapurple;
}

.dualChart1 {
    grid-area: dualChart1;
    background-color: greenyellow;
}

.dualData3 {
    grid-area: dualData3;
    background-color: pink;
}

.dualChart2 {
    grid-area: dualChart2;
    background-color: deeppink;
}
