/**********Beta Ribbon*********/
.ribbon {
    background-color: #a70808;
    overflow: hidden;
    white-space: nowrap;
    /* top left corner */
    position: absolute;
    right: -50px;
    /* 45 deg ccw rotation */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    /* shadow */
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
}
.ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 7px 50px;
    text-align: center;
    text-decoration: none;
    /* shadow */
    text-shadow: 0 0 5px #444;
}
/******************************/

input {
    width: 30px;
    text-align: center;
}

input::-webkit-inner-spin-button {
    display: none;
}

#container {
    margin: auto;
    text-align: center;
}

.chart-size-m {
    width: 400px;
    height: 200px;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Berkshire Swash", cursive;
}

h1,
h2 {
    margin: auto;
    padding: 5px auto;
}

/*Header*/
header {
    padding-right: 50px;
    background-color: #483d8b;
    color: snow;
}

header {
    position: sticky;
    top: 0;
}

.header {
    text-align: left;
    padding-left: 50px;
}

.header > ul {
    list-style: none;
    float: right;
    margin: auto;
    height: 100%;
}

.header > ul > li,
.header > ul > li > a {
    display: inline;
    vertical-align: baseline;
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-middle-with-baseline;
}

.header > h1 {
    display: inline;
}

.headerLink {
    border-right: 1px solid orange;
    padding: 0 15px;
    text-decoration: none;
    background-image: none;
    color: snow;
    font-weight: 500;
    font-size: 18pt;
}

header > ul > li:last-child > .headerLink {
    /*Remove trailing border-right*/
    border-right: none;
}

/*Grid*/
#container {
    display: grid;
    grid-template-columns: 20px 1fr 1fr 0.5fr 0.5fr 20px;
    grid-template-rows: 50px 15px repeat(5, auto) 20px;
    grid-template-areas:
        "header header header header header header"
        ". . . . . ."
        ". monoTitle monoTitle monoDataTitle dualDataTitle ."
        ". monoData1 monoData2 monoChart monoChart ."
        ". dualTitle dualTitle . . ."
        ". dualData1 dualData2 dualChart1 dualChart1 ."
        ". dualData3 . dualChart2 dualChart2 ."
        ". . . . . .";
}
@media only screen and (min-width: 1000px) {
    .toTop {
        display: none;
    }
}
/*Mobile*/
@media only screen and (max-width: 1000px) {
    #container {
        grid-template-columns: 10px 1fr 1fr 10px;
        grid-template-rows: 100px 15px repeat(13, auto);
        grid-template-areas:
            "header header header header"
            ". . . ."
            ". monoChart monoChart ."
            ". dualChart1 dualChart1 ."
            ". dualChart2 dualChart2 ."
            ". monoDataTitle dualDataTitle ."
            ". monoTitle monoTitle ."
            ". monoData1 monoData1 ."
            ". monoData2 monoData2 ."
            ". dualTitle dualTitle ."
            ". dualData1 dualData1 ."
            ". dualData2 dualData2 ."
            ". dualData3 dualData3 .";
    }

    footer {
        position: fixed;
        bottom: 0;
        right: 15px;
        padding: 10px;
    }

    .toTopIcon {
        height: 50px;
    }

    /*Mobile Header*/
    header {
        padding: auto;
    }
    .header {
        text-align: center;
    }

    .header > ul {
        list-style: none;
        float: none;
    }

    .header > ul > li {
        display: inline;
    }

    .header > h1 {
        display: block;
    }

    .header > ul {
        margin: auto;
        height: auto;
        padding: 0;
    }

    .header > ul > li,
    .header > ul > li > a {
        display: inline;
        vertical-align: baseline;
        vertical-align: -webkit-baseline-middle;
        vertical-align: -moz-middle-with-baseline;
    }
}

.header {
    grid-area: header;
}

.monoTitle {
    grid-area: monoTitle;
}

.monoDataTitle {
    grid-area: monoDataTitle;
}

.monoData1 {
    grid-area: monoData1;
}

.monoData2 {
    grid-area: monoData2;
}

.monoChart {
    grid-area: monoChart;

    place-self: center;
}

.dualTitle {
    grid-area: dualTitle;
}

.dualDataTitle {
    grid-area: dualDataTitle;
}

.dualData1 {
    grid-area: dualData1;
}

.dualData2 {
    grid-area: dualData2;
}

.dualChart1 {
    grid-area: dualChart1;

    place-self: center;
}

.dualData3 {
    grid-area: dualData3;
}

.dualChart2 {
    grid-area: dualChart2;

    place-self: center;
}
