/**********Beta Ribbon*********/
/*Shoutout to https://codepen.io/davidlazar/pen/dcxou*/
body:after {
	content: "beta";
	position: fixed;
	width: 80px;
	height: 25px;
	background: #ee8e4a;
	top: 7px;
	left: -20px;
	text-align: center;
	font-size: 13px;
	font-family: sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	line-height: 27px;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/******************************/

/** Fonts & h formatting **/

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Berkshire Swash", cursive;
}

h1,
h2 {
	margin: auto;
	padding: 5px auto;
}

hr {
	border-color: #483d8b;
	margin: 25px auto;
}

/** Text Alignments **/
.center {
	text-align: center;
}

.left {
	text-align: left;
}

/** Table Formatting **/
td:nth-child(1) {
	text-align: right;
	padding-right: 10px;
}

td:nth-child(1) > h1 {
	text-align: center;
}

td:nth-child(2) {
	text-align: left;
}

/** Input Formatting **/
input {
	width: 30px;
	text-align: center;
	-moz-appearance: textfield;
}

input::-webkit-inner-spin-button {
	display: none;
}

/** Container Spacing **/
.container {
	margin: auto;
	text-align: center;
	min-height: 100vh;
}

.grid {
	display: grid;
}

/** chart Sizing **/
.chart-size-m {
	width: 400px;
	height: 200px;
}

/*General Styling Classes*/
.chart-title {
	font-style: italic;
	font-size: 0.8rem;
	margin: 15px 0 0;
}

.btn {
	border: none;
	padding: 5px 15px;
	border-radius: 20px;
}

/** Header **/
header {
	padding-right: 50px;
	background-color: #483d8b;
	color: snow;
}

header {
	position: sticky;
	top: 0;
}

.header {
	text-align: left;
	padding: 10px 50px;
}

.header > ul {
	list-style: none;
	float: right;
	margin: auto;
	height: 100%;
}

.header > ul > li,
.header > ul > li > a {
	display: inline;
	vertical-align: baseline;
	vertical-align: -webkit-baseline-middle;
	vertical-align: -moz-middle-with-baseline;
}

.header > h1 {
	display: inline;
}

.headerLink {
	border-right: 1px solid orange;
	padding: 0 15px;
	text-decoration: none;
	background-image: none;
	color: snow;
	font-weight: 500;
	font-size: 18pt;
}

header > ul > li:last-child > .headerLink {
	/*Remove trailing border-right*/
	border-right: none;
}

.logo-link,
.logo-link:hover {
	color: white;
	text-decoration: none;
}

/** a tag Links **/
a {
	text-decoration: none;
	color: #483d8b;
	font-weight: 800;
}

a:hover {
	text-decoration: underline;
}

/** Grid **/
#container-main {
	display: grid;
	grid-template-columns: 20px 1fr 1fr 0.5fr 0.5fr 20px;
	grid-template-rows: auto 15px repeat(6, auto) 20px;
	grid-template-areas:
		"header header header header header header"
		". . . . . ."
		". mono-title mono-title mono-data-title dual-data-title ."
		". mono-data-1 mono-data-2 mono-chart mono-chart ."
		". dual-title dual-title . . ."
		". dual-data-1 dual-data-2 dual-chart-1 dual-chart-1 ."
		". dual-data-3 dual-data-4 dual-chart-2 dual-chart-2 ."
		"discl discl discl discl discl discl "
		"discl discl discl discl discl discl ";
}

#container-help {
	grid-template-columns: 0.5fr 1fr 0.5fr;
	grid-template-rows: auto 15px repeat(3, auto) 20px;
	grid-template-areas:
		"header header header"
		". . ."
		". mono-title ."
		". mono-data-1 ."
		". mono-data-2 ."
		"discl discl discl"
		"discl discl discl";
}

#container-about {
	grid-template-columns: 0.5fr 1fr 0.5fr;
	grid-template-rows: auto 15px 1fr 15px auto auto 20px;
	grid-template-areas:
		"header header header"
		". . ."
		". mono-data-1 ."
		". . ."
		". contributors ."
		"discl discl discl"
		"discl discl discl";
	/*
        ". discl ."
        ". . .";*/
}

/** Hide To top arrow on larger screens **/
@media only screen and (min-width: 1000px) {
	.to-top {
		display: none;
	}
}

/** Mobile **/
@media only screen and (max-width: 1000px) {
	#container-main {
		grid-template-columns: 10px 1fr 1fr 10px;
		grid-template-rows: auto 15px repeat(13, auto);
		grid-template-areas:
			"header header header header"
			". . . ."
			". mono-chart mono-chart ."
			". dual-chart-1 dual-chart-1 ."
			". dual-chart-2 dual-chart-2 ."
			". mono-data-title dual-data-title ."
			". mono-title mono-title ."
			". mono-data-1 mono-data-1 ."
			". mono-data-2 mono-data-2 ."
			". dual-title dual-title ."
			". dual-data-1 dual-data-1 ."
			". dual-data-2 dual-data-2 ."
			". dual-data-3 dual-data-3 ."
			". dual-data-4 dual-data-4 ."
			"discl discl discl discl"
			"discl discl discl discl";
	}

	footer {
		position: fixed;
		bottom: 0;
		right: 15px;
		padding: 10px;
	}

	.to-top-icon {
		height: 50px;
	}

	.mobile-left {
		text-align: left;
	}

	.mobile-pad-bottom {
		padding-bottom: 15px;
	}
	/*Mobile Header*/
	header {
		padding: auto;
	}
	.header {
		text-align: center;
	}

	.header > ul {
		list-style: none;
		float: none;
	}

	.header > ul > li {
		display: inline;
	}

	.header > h1 {
		display: block;
	}

	.header > ul {
		margin: auto;
		height: auto;
		padding: 0;
	}

	.header > ul > li,
	.header > ul > li > a {
		display: inline;
		vertical-align: baseline;
		vertical-align: -webkit-baseline-middle;
		vertical-align: -moz-middle-with-baseline;
	}
}

/** Grid Assignment Classes **/
.header {
	grid-area: header;
}

.mono-title {
	grid-area: mono-title;
}

.mono-data-title {
	grid-area: mono-data-title;
}

.mono-data-1 {
	grid-area: mono-data-1;
}

.mono-data-2 {
	grid-area: mono-data-2;
}

.mono-chart {
	grid-area: mono-chart;
	place-self: center;
}

.dual-title {
	grid-area: dual-title;
}

.dual-data-title {
	grid-area: dual-data-title;
}

.dual-data-1 {
	grid-area: dual-data-1;
}

.dual-data-2 {
	grid-area: dual-data-2;
}

.dual-chart-1 {
	grid-area: dual-chart-1;
	place-self: center;
}

.dual-data-3 {
	grid-area: dual-data-3;
}

.dual-data-4 {
	grid-area: dual-data-4;
}

.dual-chart-2 {
	grid-area: dual-chart-2;
	place-self: center;
	/* Used to ensure no overlap between "unArgenport" and Color Recs */
	/*Updated to 60px from 20px to account for Toggle button. This should be swapped back to 20px when all 10 tri-faction names are known*/
	padding-bottom: 60px;
}

.disclaimer {
	grid-area: discl;
	padding: 15px;
}

.contributors {
	grid-area: contributors;
}

.card {
	background-color: white;
	border-radius: 0.25rem;
	padding: 5px 15px;
	-webkit-box-shadow: 7px 6px 7px #8f9192;
	box-shadow: 7px 6px 7px #8f9192;
	width: 100%;
}
